services:
  - type: web
    name: tadu-crawler
    env: node
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000   # Render sẽ override PORT tự động khi runtime
    healthCheckPath: /
